*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top{
  margin: 2px;
}
.Toptime{
  display: inline-block;
  background-color: coral;
  font-size: 20px;
  width: 100%;
  margin-top: 5px;
  padding-left: 5px;
  
}
.Topcount{
  background-color: coral;
  font-size: 20px;
  width: 100%;
  margin-top: 5px;
  padding-left: 7px;
  
}
.start{
  text-align: center;
  margin-bottom: 20px;
}

